<!--FOOTER-->
<footer class="layout__footer">

    <div class="fondo-footer">
        <div class=" footer__container">

            <section class="footer__left">

                <div class="footer__ltop">

                    <div class="footer__logo">

                        <a href="/" class="footer__link-logo">
                                <img src="../assets/img/logo4.png" class="footer__logo-img">
                        </a>

                    </div>

                    <nav class="footer__nav">

                        <ul class="footer-nav__list">

                            <li class="footer-nav__item">
                                <a href="/" class="footer-nav__title">Home</a>
                            </li>
        
                            <li class="footer-nav__item">
                                <a href="#" class="footer-nav__title">Turnos</a>
                                
                            </li>
        
                            <li class="footer-nav__item">
                                <a href="/products" class="footer-nav__title">productos</a>
                                
                            </li>
        
                            <li class="footer-nav__item">
                                <a href="/login" class="footer-nav__title">Iniciar Sesión</a>
        
                            </li>
        
                        </ul>

                    </nav>

                    <div class="footer__location">

                        <header class="footer-location__header">
                            <h3 class="footer-location__title">local</h3> 
                        </header>

                        <div class="footer-location__content">
                            <ul class="footer-location__list">

                                <li class="footer-location__item">buenos aires</li>
                                <li class="footer-location__item">hilario ascasubi - cp 8142</li>
                                <li class="footer-location__item">martin acosta - n°22</li>
                                
                            </ul>
                        </div>

                    </div>

                    <div class="footer__contact">

                        <header class="footer-contact__header">
                            <h3 class="footer-contact__title">contacto</h3> 
                        </header>

                        <div class="footer-contact__content">

                            <ul class="footer-contact__list">

                                <li class="footer-contact__item">
                                    <a href="#" class="footer-contact__link"><i class="fa-regular fa-envelope footer-contact__icon"></i> dazaa94@hotmail.com</a>
                                </li>
                          
                          
                                <li class="footer-contact__item">
                                    <a href="#" class="footer-contact__link"><i class="fa-brands fa-whatsapp footer-contact__icon"></i> 291747886</a>
                                </li>

                            </ul>

                        </div>

                    </div>

                </div>
                
                <div class="footer_lbotom">
                    <div class="footer__social">

                        <header class="footer-social__header">
                            <h3 class="footer-social__title">Red sociales</h3> 
                        </header>

                        <ul class="footer-social__list">

                            <li class="footer-social__item">
                                <a href="#" class="social__link">
                                    <i class="fa-brands fa-facebook-f footer-social__img"></i>
                                </a>
                            </li>
                            <li class="footer-social__item">
                                <a href="#" class="social__link">
                                    <i class="fa-brands fa-instagram footer-social__img"></i>
                                </a>
                            </li>
                            <li class="footer-social__item">
                                <a href="#" class="social__link">
                                    <i class="fa-brands fa-twitter footer-social__img"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            
            </section>

            <section class="footer__right">

                <header class="footer-right__header">
                    <h3 class="footer-right__title">dejanos tus comentario</h3> 
                </header>

                <form class="footer__form">

                    <div class="form__container-name">
                        
                        <input type="text" name="name" id="name"required placeholder="Nombre" class="form__input">
                        <label for="name" class="form__label">nombre</label>
                    </div>

                    <div class="form__container-email">
                        
                        <input type="email" name="email" id="email" required placeholder="Email" class="form__input">
                        <label for="email" class="form__label">email</label>
                    </div>

                    <div class="form__container-mensaje">
                        
                        <textarea name="mensaje" rows="10" required placeholder="Mensaje" class="form__textarea form__input"></textarea>
                        <label for="mensaje" class="form__label">Mensaje</label>
                    </div>

                    <div class="form__container-btn">
                        <button class="form__btn" type="submit">Enviar</button> 
                    </div>

                </form>

            </section>

            <section class="footer__bottom">

                <div class="footer__copyright">
                     <span class="copyright__text">
                        &copy; 2024. Todos los derechos reservados a <a href="http://dazaefrainweb.es">Daza Efrain</a>.
                     </span>    
                </div>
                <div class="footer__links">
                    <ul class="footer__flinks">
                        <li class="flinks__item flinks__item--separator">
                            <a href="#" class="flinks__title">Politica de Privacidad</a>
                        </li>
                        <li class="flinks__item">
                            <a href="#" class="flinks__title">Terminos de Uso</a>
                        </li>
                    </ul>
                </div>

            </section>

        </div>

    </div>

    
</footer>