<header class="menu__header">

    <div class="navbar__logo">
        <a href="/" class="navbar__link-logo">
             <img src="../assets/img/logo4.png" class="navbar__logo-img">
        </a>
    </div>

    <!--NAVBAR QUE CONTIENE AMBOS MENU RESPONSI Y ESCRITO-->

    <nav class="navbar__nav">

        <!-- BOTON RESPONSIVE -->

        <div class="navbar__mobile-btn-container">
            <i class="fa-solid fa-bars navbar__mobile-btn"></i>
        </div>

        <!-- menu mobile-->
        <ul class="nav-mobile__list">
            <li class="nav-mobile__item">
                <a href="/" class="nav-mobile__title">Home</a>
            </li>

            <li class="nav-mobile__item">
                <a href="#" class="nav-mobile__title">Turnos</a>
            </li>

            <li class="nav-mobile__item">
                <a href="/products" class="nav-mobile__title">productos</a>
            </li>

            <li class="nav-mobile__item-register">
                <a href="/register" class="nav-mobile__title-register">registrarse</a>
            </li>

            <li class="nav-mobile__item">
                <a href="/login" class="nav-mobile__title" id="openModal">Iniciar Sesión</a>
            </li>
        </ul>
        <!--MENU ESCRITORIO-->
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__title">Home</a>
            </li>

            <li class="nav__item">
                <a href="#" class="nav__title">Turnos</a>
            </li>

            <li class="nav__item">
                <a href="/products" class="nav__title">productos</a>
               
            </li>

            <li class="nav__item">
                <a href="/register" class="nav__register">registrarse</a>
            </li>

            <li class="nav__item">
                <a href="/login" class="nav__title" id="openModal">Iniciar Sesión</a>
            </li>
        </ul>
    </nav>
    
</header>