<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--HOJA DE RESETEO-->
    <link rel="stylesheet" href="/css/reset.css">
    <!--HOJA DE ESTILO-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!--HOJA DE FUENTES-->
    <link rel="stylesheet" href="/fonts/fonts/Plus_Jakarta_Sans/plus-jakarta.css">
    <!--HOJA DE ICONOS-->
    <link rel="stylesheet" href="/fonts/fontawesome-free-6.1.2-web/css/all.min.css">
    <title>BARBER 2.0</title>
    <link rel="icon" href="./assets/img/logo4.png" type="image/gif" sizes="16x16">
</head>