<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--HOJA DE RESETEO-->
    <link rel="stylesheet" href="/css/reset.css">
    <!--HOJA DE ESTILO-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!--HOJA DE FUENTES-->
    <link rel="stylesheet" href="/fonts/fonts/Plus_Jakarta_Sans/plus-jakarta.css">
    <!--HOJA DE ICONOS-->
    <link rel="stylesheet" href="/fonts/fontawesome-free-6.1.2-web/css/all.min.css">
    <title>BARBER 2.0</title>
    <link rel="icon" href="./assets/img/logo4.png" type="image/gif" sizes="16x16">
</head>
<body>
    <div class="layout">

        <!--MENU-->
        <section class="layout__menu">

            <header class="menu__header">

                <div class="navbar__logo">
                    <a href="/" class="navbar__link-logo">
                         <img src="assets/img/logo4.png" class="navbar__logo-img">
                    </a>
                </div>

                <!--NAVBAR QUE CONTIENE AMBOS MENU RESPONSI Y ESCRITO-->

                <nav class="navbar__nav">

                    <!-- BOTON RESPONSIVE -->

                    <div class="navbar__mobile-btn-container">
                        <i class="fa-solid fa-bars navbar__mobile-btn"></i>
                    </div>

                    <!-- menu mobile-->
                    <ul class="nav-mobile__list">
                        <li class="nav-mobile__item">
                            <a href="/" class="nav-mobile__title">Home</a>
                        </li>
    
                        <li class="nav-mobile__item">
                            <a href="#" class="nav-mobile__title">Turnos</a>
                        </li>
    
                        <li class="nav-mobile__item">
                            <a href="/products" class="nav-mobile__title">productos</a>
                        </li>
    
                        <li class="nav-mobile__item-register">
                            <a href="/register" class="nav-mobile__title-register">registrarse</a>
                        </li>
    
                        <li class="nav-mobile__item">
                            <a href="/login" class="nav-mobile__title" id="openModal">Iniciar Sesión</a>
                        </li>
                    </ul>
                    <!--MENU ESCRITORIO-->
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__title">Home</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="#" class="nav__title">Turnos</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="/products" class="nav__title">productos</a>
                           
                        </li>
    
                        <li class="nav__item">
                            <a href="/register" class="nav__register">registrarse</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="/login" class="nav__title" id="openModal">Iniciar Sesión</a>
                        </li>
                    </ul>
                </nav>
                
            </header>
            <!--SLIDER AUTOMATICO-->
            <div class="layout__marquee">

                <div class="marquee__container">

                    <ul class="marquee__list">

                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- 1Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                    </ul>

                </div>

            </div>

        </section>
        <!--SERVICIO-->
        <section class="layout__servicio">

            <header class="services__header">

                <h2 class="services__title">servicios</h2>
                <div class="separador"></div>

            </header>

            <div class="services__list">
    
                <article class="services__service services__service--bottom">

                    <div class="service__container-img">
                        <img class="service__img" src="./assets/img/servicio1.jpg" alt="icono-service">
                    </div>
                    
                    <div class="services__content">
                        <h3 class="service__title">
                            <a href="#" class="service__link">cortes de pelo</a>
                        </h3>
                        <p class="service__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, nihil. 
                        Laudantium delectus mollitia veniam hic excepturi fugit ipsa quae 
                        voluptatem, quam velit quaerat impedit placeat asperiores.
                        </p>

                    </div>
                    <div class="d-deco"></div>
                </article>

                <article class="services__service services__service--bottom">

                    <div class="service__container-img">
                        <img class="service__img" src="./assets/img/servicio2.jpg" alt="icono-service">
                    </div>
                    
                    <div class="services__content">
                        <h3 class="service__title">
                            <a href="#" class="service__link">cortes de barba</a>
                        </h3>
                        <p class="service__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, nihil. 
                        Laudantium delectus mollitia veniam hic excepturi fugit ipsa quae 
                        voluptatem, quam velit quaerat impedit placeat asperiores.
                        </p>

                    </div>
                    <div class="d-deco"></div>
                </article>

                <article class="services__service services__service--bottom">

                    <div class="service__container-img">
                        <img class="service__img" src="./assets/img/servicio3.jpg" alt="icono-service">
                    </div>
                    
                    <div class="services__content">
                        <h3 class="service__title">
                            <a href="#" class="service__link">Afeitado</a>
                        </h3>
                        <p class="service__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, nihil. 
                        Laudantium delectus mollitia veniam hic excepturi fugit ipsa quae 
                        voluptatem, quam velit quaerat impedit placeat asperiores.
                        </p>

                    </div>
                    <div class="d-deco"></div>
                </article>

                <article class="services__service services__service--bottom">

                    <div class="service__container-img">
                        <img class="service__img" src="./assets/img/servicio4.jpg" alt="icono-service">
                    </div>
                    
                    <div class="services__content">
                        <h3 class="service__title">
                            <a href="#" class="service__link">cortes con cuchillas</a>
                        </h3>
                        <p class="service__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, nihil. 
                        Laudantium delectus mollitia veniam hic excepturi fugit ipsa quae 
                        voluptatem, quam velit quaerat impedit placeat asperiores.
                        </p>

                    </div>
                    <div class="d-deco"></div>
                </article>

            </div>
           <div class="service-mora__container">
            <a href="#" class="service__more">Leer Mas</a>
           </div>
        </section>
        <!--PROFESIONALES-->
        <section class="layout__professional">

            <header class="professional__header">
                <h2 class="professional__title">servicios</h2>
                <div class="separador"></div>
            </header>

            <div class="container__professional">

                <article class="professional__cards">

                    <div class="profesional__image">
                        <img src="assets/img/profesional1.jpg" alt="profesional">
                    </div>

                    <div class="profesional__descriptions">

                        <h3 class="professional-description__title">Alejandro Cortés</h3>

                        <p class="professional-description__dates">Bienvenido a mi barbería, donde la tradición se une con la moda para 
                            ofrecerte cortes de cabello y afeitados de precisión que realzan tu estilo único.
                        </p>

                        <ul class="professional__list-social">

                            <li class="professional__item-social">
                                <a href="#"><i class="fa-brands fa-facebook-f professional-description__icon"></i></a>
                            </li>
                            <li class="professional__item-social">
                                <a href="#"><i class="fa-brands fa-instagram professional-description__icon"></i></a>
                            </li>
                            <li class="professional__item-social">
                                <a href="#"><i class="fa-brands fa-twitter professional-description__icon"></i></a>
                            </li>
                            
                        </ul>
                    </div>

                </article>
                <article class="professional__cards">

                    <div class="profesional__image">
                        <img src="assets/img/profesional2.jpg" alt="profesional">
                    </div>

                    <div class="profesional__descriptions">

                        <h3 class="professional-description__title">Marco Navarro</h3>

                        <p class="professional-description__dates">En mi silla de barbero, no solo recibirás un corte de cabello, 
                            sino una experiencia de cuidado personalizada, donde cada detalle cuenta para resaltar tu imagen.
                        </p>
                        
                        <ul class="professional__list-social">

                            <li class="professional__item-social">
                                <a href="#"><i class="fa-brands fa-facebook-f professional-description__icon"></i></a>
                            </li>
                            <li class="professional__item-social">
                                <a href="#"><i class="fa-brands fa-instagram professional-description__icon"></i></a>
                            </li>
                            <li class="professional__item-social">
                                <a href="#"><i class="fa-brands fa-twitter professional-description__icon"></i></a>
                            </li>
                            
                        </ul>
                    </div>

                </article>
                <article class="professional__cards">

                    <div class="profesional__image">
                        <img src="assets/img/profesional3.jpg" alt="profesional">
                    </div>

                    <div class="profesional__descriptions">

                        <h3 class="professional-description__title">Javier Reyes</h3>

                        <p class="professional-description__dates">Como barbero profesional, mi objetivo es más que solo cortar cabello; 
                            se trata de crear conexiones y ayudarte a sentirte seguro y renovado con cada visita a mi establecimiento.
                        </p>
                        
                        <ul class="professional__list-social">

                            <li class="professional__item-social">
                                <a href="#"><i class="fa-brands fa-facebook-f professional-description__icon"></i></a>
                            </li>
                            <li class="professional__item-social">
                                <a href="#"><i class="fa-brands fa-instagram professional-description__icon"></i></a>
                            </li>
                            <li class="professional__item-social">
                                <a href="#"><i class="fa-brands fa-twitter professional-description__icon"></i></a>
                            </li>
                            
                        </ul>
                    </div>

                </article>

            </div>

        </section>
        <!--GALERIA-->
        <section class="layout__gallery">

            <header class="galley__header">

                <h2 class="gallery__title">galeria</h2>
                <div class="separador"></div>

            </header>

            <div class="container__gallery">

                    <div class="gallery__image">
                        <img class="gallery__img" src="./assets/img/galeria1.png" alt="Image 1">
                        <img class="gallery__img" src="./assets/img/galeria2.png" alt="Image 2">
                        <img class="gallery__img" src="./assets/img/galeria3.png" alt="Image 3">
                        <img class="gallery__img" src="./assets/img/galeria4.png" alt="Image 4">
                        <img class="gallery__img" src="./assets/img/galeria5.png" alt="Image 5">
                    </div>

                    <div class="container__btn-gallery">
                        <button class="btn-gallery__click prev-button" >Prev</button>
                        <button class="btn-gallery__click next-button" >Next</button>
                    </div>
                
            </div>
                

        </section>
        <!--FOOTER-->
        <footer class="layout__footer">

            <div class="fondo-footer">
                <div class=" footer__container">

                    <section class="footer__left">
    
                        <div class="footer__ltop">
    
                            <div class="footer__logo">
    
                                <a href="/" class="footer__link-logo">
                                        <img src="./assets/img/logo4.png" class="footer__logo-img">
                                </a>
        
                            </div>
        
                            <nav class="footer__nav">
        
                                <ul class="footer-nav__list">
        
                                    <li class="footer-nav__item">
                                        <a href="/" class="footer-nav__title">Home</a>
                                    </li>
                
                                    <li class="footer-nav__item">
                                        <a href="#" class="footer-nav__title">Turnos</a>
                                        
                                    </li>
                
                                    <li class="footer-nav__item">
                                        <a href="/products" class="footer-nav__title">productos</a>
                                        
                                    </li>
                
                                    <li class="footer-nav__item">
                                        <a href="/login" class="footer-nav__title">Iniciar Sesión</a>
                
                                    </li>
                
                                </ul>
        
                            </nav>
        
                            <div class="footer__location">
        
                                <header class="footer-location__header">
                                    <h3 class="footer-location__title">local</h3> 
                                </header>
        
                                <div class="footer-location__content">
                                    <ul class="footer-location__list">

                                        <li class="footer-location__item">buenos aires</li>
                                        <li class="footer-location__item">hilario ascasubi - cp 8142</li>
                                        <li class="footer-location__item">martin acosta - n°22</li>
                                        
                                    </ul>
                                </div>
        
                            </div>

                            <div class="footer__contact">
        
                                <header class="footer-contact__header">
                                    <h3 class="footer-contact__title">contacto</h3> 
                                </header>
        
                                <div class="footer-contact__content">

                                    <ul class="footer-contact__list">

                                        <li class="footer-contact__item">
                                            <a href="#" class="footer-contact__link"><i class="fa-regular fa-envelope footer-contact__icon"></i> dazaa94@hotmail.com</a>
                                        </li>
                                  
                                  
                                        <li class="footer-contact__item">
                                            <a href="#" class="footer-contact__link"><i class="fa-brands fa-whatsapp footer-contact__icon"></i> 291747886</a>
                                        </li>

                                    </ul>

                                </div>
        
                            </div>

                        </div>
                        
                        <div class="footer_lbotom">
                            <div class="footer__social">
    
                                <header class="footer-social__header">
                                    <h3 class="footer-social__title">Red sociales</h3> 
                                </header>
        
                                <ul class="footer-social__list">
        
                                    <li class="footer-social__item">
                                        <a href="#" class="social__link">
                                            <i class="fa-brands fa-facebook-f footer-social__img"></i>
                                        </a>
                                    </li>
                                    <li class="footer-social__item">
                                        <a href="#" class="social__link">
                                            <i class="fa-brands fa-instagram footer-social__img"></i>
                                        </a>
                                    </li>
                                    <li class="footer-social__item">
                                        <a href="#" class="social__link">
                                            <i class="fa-brands fa-twitter footer-social__img"></i>
                                        </a>
                                    </li>
        
                                </ul>
                            </div>
                        </div>
                    
                    </section>
    
                    <section class="footer__right">
    
                        <header class="footer-right__header">
                            <h3 class="footer-right__title">dejanos tus comentario</h3> 
                        </header>
    
                        <form class="footer__form">
    
                            <div class="form__container-name">
                                
                                <input type="text" name="name" id="name"required placeholder="Nombre" class="form__input">
                                <label for="name" class="form__label">nombre</label>
                            </div>
    
                            <div class="form__container-email">
                                
                                <input type="email" name="email" id="email" required placeholder="Email" class="form__input">
                                <label for="email" class="form__label">email</label>
                            </div>
    
                            <div class="form__container-mensaje">
                                
                                <textarea name="mensaje" rows="10" required placeholder="Mensaje" class="form__textarea form__input"></textarea>
                                <label for="mensaje" class="form__label">Mensaje</label>
                            </div>
    
                            <div class="form__container-btn">
                                <button class="form__btn" type="submit">Enviar</button> 
                            </div>
    
                        </form>
    
                    </section>
    
                    <section class="footer__bottom">
    
                        <div class="footer__copyright">
                             <span class="copyright__text">
                                &copy; 2024. Todos los derechos reservados a <a href="http://dazaefrainweb.es">Daza Efrain</a>.
                             </span>    
                        </div>
                        <div class="footer__links">
                            <ul class="footer__flinks">
                                <li class="flinks__item flinks__item--separator">
                                    <a href="#" class="flinks__title">Politica de Privacidad</a>
                                </li>
                                <li class="flinks__item">
                                    <a href="#" class="flinks__title">Terminos de Uso</a>
                                </li>
                            </ul>
                        </div>
    
                    </section>
    
                </div>
    
            </div>

            
        </footer>

    </div>
        <script src="/js/galeria.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/marquee.js"></script>
</body>
</html>