<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--HOJA DE RESETEO-->
    <link rel="stylesheet" href="/css/reset.css">
    <!--HOJA DE ESTILO-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!--HOJA DE FUENTES-->
    <link rel="stylesheet" href="/fonts/fonts/Plus_Jakarta_Sans/plus-jakarta.css">
    <!--HOJA DE ICONOS-->
    <link rel="stylesheet" href="/fonts/fontawesome-free-6.1.2-web/css/all.min.css">
    <title>BARBER 2.0</title>
    <link rel="icon" href="./assets/img/logo4.png" type="image/gif" sizes="16x16">
</head>
<body>
    <div class="layout">


    <!--INICIAR SESION-->
      
    <!-- La ventana modal -->
    <div id="myModal" class="modal">

        <!-- Contenido del modal -->
        <div class="modal-content">

            <header class="login__header">

                <h3 class="login__title-header">Inicio de Sesión</h3>
                
                <span class="login__span" id ="closeModal"><i class="fa-solid fa-xmark login__icon-header" ></i></span>

            </header>
            

            <form action="/" class="form__login">
                
                <div class="login-form__name">
                    <input type="text" id="username" name="username" placeholder="Usuario" class="form__input-login">
                    <label for="username" class="form__label-login">Usuario:</label>
                </div>
                
                <div class="login-form__password">
                    <input type="password" id="password" name="password" placeholder="Contraseña" class="form__input-login">
                    <label for="password" class="form__label-login">Contraseña:</label>
                </div>
                <div class="login-form__conteiner-btn">
                    <button type="submit" class="login-form__btn">Iniciar Sesión</button>
                </div>
                

            </form>

        </div>
    </div>


    </div>
        <script src="/js/galeria.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/marquee.js"></script>
</body>
</html>