<!DOCTYPE html>
<html lang="es">
<!--head-->
<%- include ("./partials/head") %>
<body>
    <div class="layout">

        <!--MENU-->
        <section class="layout__menu">

            <!--header-->
            <%- include ("./partials/header") %>
           
            
             <!--SLIDER AUTOMATICO-->
             <div class="layout__marquee">

                <div class="marquee__container">

                    <ul class="marquee__list">

                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                    </ul>

                </div>

            </div>

        </section>

        <!--PRODUCTOS-->

        <section class="layout__products">

            <header class="products__header">

                <h2 class="products-header__title">productos</h2>
                <div class="separador"></div>

            </header>

            <div class="products__product">

                <div class="product__category-container">

                    <h3 class="product__category-title">Categorías</h3>

                    <ul class="product__list" id="categoryList">
                        <!-- Aquí se cargarán las categorías dinámicamente -->
                        <li class="product__item"><a href="#" class="product__link" >shampoos</a></li>

                        <li class="product__item"><a href="#" class="product__link" >ceras</a></li>

                        <li class="product__item"><a href="#" class="product__link" >fragancias</a></li>
                        
                    </ul>
                    
                </div>
                
                <div class="product__stocks-container" id="products">
                    <!-- Aquí se cargarán los productos dinámicamente -->
                    <% productoList.forEach(producto => { %>
                    <article class="product__stocks" id="productList">
                      
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/fragancia-1.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#"><%=producto.nombre%></a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                           
                        </div>
                      
                    </article>
                    <% }) %>
                    
                </div>

            </div> 
                
        </section>

        <!--FOOTER-->

        <%- include ("./partials/footer") %>

    </div>
    <script src="/js/galeria.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/marquee.js"></script>
</body>
</html>