<!DOCTYPE html>
<html lang="es">
<!--head-->
<%- include ("./partials/head") %>
<body>
    <div class="layout">

        <!--MENU-->
        <section class="layout__menu">

            <header class="menu__header">

                <div class="navbar__logo">
                    <a href="/" class="navbar__link-logo">
                         <img src="./assets/img/logo4.png" class="navbar__logo-img">
                    </a>
                </div>

                <!--NAVBAR QUE CONTIENE AMBOS MENU RESPONSI Y ESCRITORIO-->
                
                <nav class="navbar__nav">

                      <!-- BOTON RESPONSIVE -->

                    <div class="navbar__mobile-btn-container">
                        <i class="fa-solid fa-bars navbar__mobile-btn"></i>
                    </div>

                    <!-- menu mobile -->
                    <ul class="nav-mobile__list">
                        <li class="nav-mobile__item">
                            <a href="/" class="nav-mobile__title">Home</a>
                        </li>
    
                        <li class="nav-mobile__item">
                            <a href="#" class="nav-mobile__title">Turnos</a>
                        </li>
    
                        <li class="nav-mobile__item">
                            <a href="/products" class="nav-mobile__title">productos</a>
                           
                        </li>
    
                        <li class="nav-mobile__item-register">
                            <a href="/register" class="nav-mobile__title-register">registrarse</a>
                        </li>
    
                        <li class="nav-mobile__item">
                            <a href="/login" class="nav-mobile__title" id="openModal">Iniciar Sesión</a>
                        </li>
                    </ul>
                    <!--MENU ESCRITOTIO-->
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__title">Home</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="#" class="nav__title">turnos</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="/products" class="nav__title">productos</a>
                           
                        </li>
    
                        <li class="nav__item">
                            <a href="/register" class="nav__register">registrarse</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="/login" class="nav__title" id="openModal">Iniciar Sesión</a>
                        </li>
                    </ul>
                </nav>
            </header>
            
             <!--SLIDER AUTOMATICO-->
             <div class="layout__marquee">

                <div class="marquee__container">

                    <ul class="marquee__list">

                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                    </ul>

                </div>

            </div>

        </section>

        <!--PRODUCTOS-->

        <section class="layout__products">

            <header class="products__header">

                <h2 class="products-header__title">productos</h2>
                <div class="separador"></div>

            </header>

            <div class="products__product">

                <div class="product__category-container">

                    <h3 class="product__category-title">Categorías</h3>

                    <ul class="product__list" id="categoryList">
                        <!-- Aquí se cargarán las categorías dinámicamente -->
                        <li class="product__item"><a href="#" class="product__link" >shampoos</a></li>

                        <li class="product__item"><a href="#" class="product__link" >ceras</a></li>

                        <li class="product__item"><a href="#" class="product__link" >fragancias</a></li>
                        
                    </ul>
                    
                </div>
                
                <div class="product__stocks-container" id="products">
                    <!-- Aquí se cargarán los productos dinámicamente -->
                    <article class="product__stocks" id="productList">

                        <div class="product__image">
                            <img class="product__img" src="./assets/img/fragancia-1.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">fragancia - spray</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                        </div>
                        
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/fragancia-2.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">fragancia - millanel</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/fragancia-3.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">fragancia - london</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/cera-1.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">texturado - podwer</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/cera-2.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">texturado - heavy</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/cera-3.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">texturado - ossion</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/shampoo-1.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">shampoo - anticaspas</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/shampoo-2.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">shampoo - nutritivo</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/shampoo-3.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">shampoo - pelo lasio</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="/productsDetail">ver producto</a>
                            </p>
                        </div>
                    </article>

                </div>

            </div> 
                
        </section>

        <!--FOOTER-->

        <%- include ("./partials/footer") %>

    </div>
    <script src="/js/galeria.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/marquee.js"></script>
</body>
</html>