<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--HOJA DE RESETEO-->
    <link rel="stylesheet" href="/css/reset.css">
    <!--HOJA DE ESTILO-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!--HOJA DE FUENTES-->
    <link rel="stylesheet" href="/fonts/fonts/Plus_Jakarta_Sans/plus-jakarta.css">
    <!--HOJA DE ICONOS-->
    <link rel="stylesheet" href="/fonts/fontawesome-free-6.1.2-web/css/all.min.css">
    <title>BARBER 2.0</title>
    <link rel="icon" href="assets/img/logo4.png" type="image/gif" sizes="16x16">
</head>
<body>
    <div class="layout">

        <!--MENU-->
        <section class="layout__menu">

            <header class="menu__header">

                <div class="navbar__logo">
                    <a href="/" class="navbar__link-logo">
                         <img src="./assets/img/logo4.png" class="navbar__logo-img">
                    </a>
                </div>

                <!--NAVBAR QUE CONTIENE AMBOS MENU RESPONSI Y ESCRITORIO-->
                
                <nav class="navbar__nav">

                      <!-- BOTON RESPONSIVE -->

                    <div class="navbar__mobile-btn-container">
                        <i class="fa-solid fa-bars navbar__mobile-btn"></i>
                    </div>

                    <!-- menu mobile -->
                    <ul class="nav-mobile__list">
                        <li class="nav-mobile__item">
                            <a href="/" class="nav-mobile__title">Home</a>
                        </li>
    
                        <li class="nav-mobile__item">
                            <a href="#" class="nav-mobile__title">Turnos</a>
                        </li>
    
                        <li class="nav-mobile__item">
                            <a href="/products" class="nav-mobile__title">productos</a>
                           
                        </li>
    
                        <li class="nav-mobile__item-register">
                            <a href="/register" class="nav-mobile__title-register">registrarse</a>
                        </li>
    
                        <li class="nav-mobile__item">
                            <a href="#" class="nav-mobile__title" id="openModal">Iniciar Sesión</a>
                        </li>
                    </ul>
                    <!--MENU ESCRITOTIO-->
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__title">Home</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="#" class="nav__title">turnos</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="/products" class="nav__title">productos</a>
                           
                        </li>
    
                        <li class="nav__item">
                            <a href="/register" class="nav__register">registrarse</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="#" class="nav__title" id="openModal">Iniciar Sesión</a>
                        </li>
                    </ul>
                </nav>
            </header>
            
             <!--SLIDER AUTOMATICO-->
             <div class="layout__marquee">

                <div class="marquee__container">

                    <ul class="marquee__list">

                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                    </ul>

                </div>

            </div>

        </section>

        <!--PRODUCTOS-->

        <section class="layout__products">

            <header class="products__header">

                <h2 class="products-header__title">productos</h2>
                <div class="separador"></div>

            </header>

            <div class="products__product">

                <div class="product__category-container">

                    <h3 class="product__category-title">Categorías</h3>

                    <ul class="product__list" id="categoryList">
                        <!-- Aquí se cargarán las categorías dinámicamente -->
                        <li class="product__item"><a href="#" class="product__link" >shampoos</a></li>

                        <li class="product__item"><a href="#" class="product__link" >ceras</a></li>

                        <li class="product__item"><a href="#" class="product__link" >fragancias</a></li>
                        
                    </ul>
                    
                </div>
                
                <div class="product__stocks-container" id="products">
                    <!-- Aquí se cargarán los productos dinámicamente -->
                    <article class="product__stocks" id="productList">

                        <div class="product__image">
                            <img class="product__img" src="./assets/img/fragancia-1.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">fragancia - spray</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="#">ver producto</a>
                            </p>
                        </div>
                        
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/fragancia-2.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">fragancia - millanel</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="#">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/fragancia-3.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">fragancia - london</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="#">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/cera-1.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">texturado - podwer</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="#">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/cera-2.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">texturado - heavy</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="#">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/cera-3.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">texturado - ossion</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="#">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/shampoo-1.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">shampoo - anticaspas</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="#">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/shampoo-2.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">shampoo - nutritivo</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="#">ver producto</a>
                            </p>
                        </div>
                    </article>
                    <article class="product__stocks" id="productList">
                        <div class="product__image">
                            <img class="product__img" src="./assets/img/shampoo-3.png" alt="product-stcoks">
                        </div>
                        <div class="product__description">
                            <h4 class="product__title-stocks">
                                <a class="product__link-stocks" href="#">shampoo - pelo lasio</a>
                            </h4>
                            <p class="product__etiquet-stocks">
                                <a class="product__etiquet-link" href="#">ver producto</a>
                            </p>
                        </div>
                    </article>

                </div>

            </div> 
                
        </section>

        <!--FOOTER-->

        <footer class="layout__footer">

            <div class="fondo-footer">
                <div class=" footer__container">

                    <section class="footer__left">
    
                        <div class="footer__ltop">
    
                            <div class="footer__logo">
    
                                <a href="/" class="footer__link-logo">
                                        <img src="./assets/img/logo4.png" class="footer__logo-img">
                                </a>
        
                            </div>
        
                            <nav class="footer__nav">
        
                                <ul class="footer-nav__list">
        
                                    <li class="footer-nav__item">
                                        <a href="/" class="footer-nav__title">Home</a>
                                    </li>
                
                                    <li class="footer-nav__item">
                                        <a href="#" class="footer-nav__title">turnos</a>
                                        
                                    </li>
                
                                    <li class="footer-nav__item">
                                        <a href="/products" class="footer-nav__title">productos</a>
                                        
                                    </li>
                
                                    <li class="footer-nav__item">
                                        <a href="/login" class="footer-nav__title">Iniciar Sesión</a>
                
                                    </li>
                
                                </ul>
        
                            </nav>
        
                            <div class="footer__location">
        
                                <header class="footer-location__header">
                                    <h3 class="footer-location__title">local</h3> 
                                </header>
        
                                <div class="footer-location__content">
                                    <ul class="footer-location__list">

                                        <li class="footer-location__item">buenos aires</li>
                                        <li class="footer-location__item">hilario ascasubi - cp 8142</li>
                                        <li class="footer-location__item">martin acosta - n°22</li>
                                        
                                    </ul>
                                </div>
        
                            </div>

                            <div class="footer__contact">
        
                                <header class="footer-contact__header">
                                    <h3 class="footer-contact__title">contacto</h3> 
                                </header>
        
                                <div class="footer-contact__content">

                                    <ul class="footer-contact__list">

                                        <li class="footer-contact__item">
                                            <a href="#" class="footer-contact__link"><i class="fa-regular fa-envelope footer-contact__icon"></i> dazaa94@hotmail.com</a>
                                        </li>
                                  
                                  
                                        <li class="footer-contact__item">
                                            <a href="#" class="footer-contact__link"><i class="fa-brands fa-whatsapp footer-contact__icon"></i> 291747886</a>
                                        </li>

                                    </ul>

                                </div>
        
                            </div>

                        </div>
                        
                        <div class="footer_lbotom">
                            <div class="footer__social">
    
                                <header class="footer-social__header">
                                    <h3 class="footer-social__title">Red sociales</h3> 
                                </header>
        
                                <ul class="footer-social__list">
        
                                    <li class="footer-social__item">
                                        <a href="#" class="social__link">
                                            <i class="fa-brands fa-facebook-f footer-social__img"></i>
                                        </a>
                                    </li>
                                    <li class="footer-social__item">
                                        <a href="#" class="social__link">
                                            <i class="fa-brands fa-instagram footer-social__img"></i>
                                        </a>
                                    </li>
                                    <li class="footer-social__item">
                                        <a href="#" class="social__link">
                                            <i class="fa-brands fa-twitter footer-social__img"></i>
                                        </a>
                                    </li>
        
                                </ul>
                            </div>
                        </div>
                    
                    </section>
    
                    <section class="footer__right">
    
                        <header class="footer-right__header">
                            <h3 class="footer-right__title">dejanos tus comentario</h3> 
                        </header>
    
                        <form class="footer__form">
    
                            <div class="form__container-name">
                                
                                <input type="text" name="name" id="name"required placeholder="Nombre" class="form__input">
                                <label for="name" class="form__label">nombre</label>
                            </div>
    
                            <div class="form__container-email">
                                
                                <input type="email" name="email" id="email" required placeholder="Email" class="form__input">
                                <label for="email" class="form__label">email</label>
                            </div>
    
                            <div class="form__container-mensaje">
                                
                                <textarea name="mensaje" rows="10" required placeholder="Mensaje" class="form__textarea form__input"></textarea>
                                <label for="mensaje" class="form__label">Mensaje</label>
                            </div>
    
                            <div class="form__container-btn">
                                <button class="form__btn" type="submit">Enviar</button> 
                            </div>
    
                        </form>
    
                    </section>
    
                    <section class="footer__bottom">
    
                        <div class="footer__copyright">
                             <span class="copyright__text">
                                &copy; 2024. Todos los derechos reservados a <a href="http://dazaefrainweb.es">Daza Efrain</a>.
                             </span>    
                        </div>
                        <div class="footer__links">
                            <ul class="footer__flinks">
                                <li class="flinks__item flinks__item--separator">
                                    <a href="#" class="flinks__title">Politica de Privacidad</a>
                                </li>
                                <li class="flinks__item">
                                    <a href="#" class="flinks__title">Terminos de Uso</a>
                                </li>
                            </ul>
                        </div>
    
                    </section>
    
                </div>
    
            </div>

            
        </footer>

    </div>
    <script src="/js/galeria.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/marquee.js"></script>
</body>
</html>