/* MENU RESPONSIVE */
.navbar__mobile-btn-container{
    display: none;
}
.nav-mobile__list{
    display: none;
}
@media (min-width:1600px){
    .layout{
        min-width: 1600px;
    }
}
@media (max-width:1090px){
    /*services*/
    .services__service {
        width: 36rem;
    }
    .services__list {
        gap: 5rem;
    }

    /*profesionales*/
    .container__professional {
        gap: 5rem;
    }
    /*footer*/
    
    .footer__container{
        padding: 0rem;
    }

}
@media (max-width:1090px){
    /*footer*/
    .fondo-footer ,
    .layout__footer {
        height: auto;
    }
    .footer__container {
        flex-direction: column;
        padding: 2rem;
        align-items: center;
    }
    .footer__right {
        width: 40%;
        padding: 2rem 0rem; 
    }
    .footer__left {
        width: 100%; 
        padding: 2rem 0rem; 
    }
}

/*MOBILE*/
@media ( max-width: 832px){
     /*menu escritorio*/
 .nav__list{
     display: none;
 }
 /*menu header*/
 .layout__menu {
    height: 45rem;
 }
 /*menu mobile*/
 .navbar__mobile-btn-container{
    width: 100%;
    display: flex;
    padding-right: 1rem;
    align-items: center;
    justify-content: flex-end;
}
.navbar__mobile-btn{
    color: var(--color-cuerpo);
    background-color: var(--color-border-menu);
    width: 5rem;
    height: 5rem;
    padding: 1.5rem 1.5rem;
    font-size: 2rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}
.navbar__mobile-btn:hover{
    color: var(--color-border-menu);
    background-color: var(--color-cuerpo);
}
.nav-mobile__list{
    display: none;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    background-color: var(--color-border-menu);
    position: absolute;
    padding: 2rem;
    top:20%;
    right: 5%;
    width: 50%;
    z-index: 9999;
}
.nav-mobile__item{
    color:var(--color-cuerpo);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 1.5rem 0;
    padding: 1rem;
    border: 1px solid var(--color-cuerpo);
    transition: all 300ms ease-in-out;
}
.nav-mobile__item:hover,
.nav-mobile__item-register:hover{
    border: 1px solid var(--color-fondo);
    color: var(--color-fondo);
}
.nav-mobile__title{
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.nav-mobile__item-register{
    color:var(--color-border-menu);
    background-color: var(--color-cuerpo);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 1.5rem 0;
    padding: 1rem;
    border: 1px solid var(--color-border-menu);
    transition: all 300ms ease-in-out;
}
.nav-mobile__title-register{
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}

}

@media (max-width: 761px){
    /*galeria*/
    .gallery__image{
        width: 55rem;
        height: 49rem;
    }
    .container__btn-gallery{
        width: 55rem;
    }
    .container__gallery {
        width: 60rem;
    }
     /*footer*/
     .footer__ltop {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__nav {
        width: 55%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .footer__location, .footer__contact {
        display: flex;
        width: 50%;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__right {
        width: 55%;
    }


}

@media ( max-width: 611px){
     /*galeria*/
     .gallery__image{
        width: 45rem;
        height: 39rem;
    }
    .container__btn-gallery{
        width: 45rem;
    }
    .container__gallery {
        width: 50rem;
    }
    /*footer*/
    .footer__ltop {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__nav {
        width: 55%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .footer__location, .footer__contact {
        display: flex;
        width: 50%;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__right {
        width: 100%;
    }
    .form__container-name, .form__container-email, .form__container-mensaje {
        width: 75%;
    }

}   

@media ( max-width: 520px){
    /*header*/
    .layout__menu {
        height: 35rem;
    }
    /*galeria*/
    .gallery__image {
        width: 35rem;
        height: 29rem;
    }
    .container__btn-gallery {
        width: 35rem;
    }
    .container__gallery {
        width: 40rem;
    }
   /*menu responsi*/
    .navbar__mobile-btn-container {
        top: 9%;
    }
}   

@media ( max-width: 420px){
    /*header*/
    .layout__menu {
        height: 30rem;
    }
    /*galeria*/
    .gallery__image {
        width: 30rem;
        height: 26rem;
    }
    .container__btn-gallery {
        width: 30rem;
    }
    .container__gallery {
        width: 34rem;
    }
    .footer__ltop{
        flex-direction: column;
        align-items: center;
    }
}   
@media ( max-width: 360px){
    /*menu responsi*/
    .navbar__mobile-btn-container {
        top: 8%;
        right: 8%;
    }
    .nav-mobile__list {
        width: 60%;
        right: 8%;
        top:18%;
    }
    /*services*/
    .services__service {
        width: 28rem;
    }
    /*galeria*/
    .gallery__image {
        width: 26rem;
        height: 22rem;
    }
    .container__btn-gallery {
        width: 26rem;
    }
    .container__gallery {
        width: 30rem;
    }
}   
