/*PALETA DE COLORES*/
:root{
--color-title:#EAEAEA;
--color-cuerpo:#F9F9F9;
--color-hover:#B1734A;
--color-border-menu:#CF814D;
--color-fondo:#101010;
--color-fondo-slider:#101010af;
--color-border-products:#ddd;

--color-variable7:#B7B7B7;
--color-variable5:#A0633A;

}

/* ESTILOS GENERALES */
html{
    font-size: 10px;
}
body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}
.layout{
    width: 100%;
    height: 100%;
}
/*MENU*/
.layout__menu{
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 62rem;/*acondicionamos de acuerdo al tamaño de la img*/
    padding: 2rem 1rem;
    background-image: url(/assets/img/banner-menu2.png);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#0c1c2938;

    border: 4px double var(--color-border-menu);
}
.navbar__logo{
    width: 120px;
    height: 100%;
    padding-left: 1rem;
}
.navbar__logo-img{
    width: 100%;  
    transition: all 400ms ease-in-out;
}
.navbar__logo-img:hover{
    transform: scale(1.2);
}
.navbar__nav{
   width: 80%;
}
.nav__list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
}
.nav__item{
    height: 100%;
    text-align: center;
    padding: 0.5rem 0.5rem;
    letter-spacing: 0.2rem;
    margin: 0 1.5rem;
    background-color: transparent;
    transition: all 400ms ease-in-out;
}

.nav__title{
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-title);
    position: relative;
    display: inline-block;
    line-height: 6rem;
    transition: all 400ms linear;
}

.nav__title::before{  /*linea de cuando pasamos el mause sobre item de nav*/
    content: "";
    height: 0.2rem;
    width: 0%;
    background-color: var(--color-title);
    position: absolute;
    bottom: 1.2rem;
    right: 0;
    opacity: 0;
    transition:all 400ms ease-in-out;
}
.nav__title:hover::before{
    width: 100%;
    opacity: 1;
}

.nav__register:hover{
   color: var(--color-border-menu);
   background-color: var(--color-cuerpo);
}

/*SERVICE*/

.layout__servicio{
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--color-fondo);
}   

    .services__header,
    .gallery__heade,
    .products__header,
    .register__header,
    .login__header,
    .professional__header{
        width: 100%;

    }

    .services__title,
    .gallery__title,
    .products-header__title,
    .register__title,
    .login__title-header,
    .professional__title{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.2rem;
        font-size: 5rem;
        color: var(--color-title);
        cursor: pointer;
    }
.separador{
    position: relative;
    border-top: 1px solid var(--color-border-menu);
    width: 240px;
    clear: both;
    margin: 0 auto;
    margin-bottom: 40px;
}
.separador::before{
    background: none repeat scroll 0% 0% var(--color-border-menu);
    content: "";
    height: 10px;
    left: 0%;
    margin: -5px auto auto -5px;
    position: absolute;
    transform: rotate(-45deg);
    width: 10px;
}
.separador::after {
    background: none repeat scroll 0% 0% var(--color-border-menu);
    content: "";
    height: 10px;
    right: 0%;
    margin: -5px auto auto -5px;
    position: absolute;
    transform: rotate(-45deg);
    width: 10px;
}

.services__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 6rem 0;
    
}
.services__service{
    width: 20%;
    padding: 1.5rem 0;
    border: 1px solid var(--color-border-menu);
    position: relative;
    z-index: 333;
}
.service__container-img{
    width: 100%;
}
.d-deco{
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px var(--color-border-menu);
    top: -10px;
    right: -10px;
    z-index: 22;
}

.service__img{
    width: 70%;
    margin: 1rem auto;
    margin-right: 3.5rem;
}
.service__title{
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--color-cuerpo);
    text-align: center;
    cursor: pointer;
}
.service__link{
    cursor: pointer;
}
.service__description{
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
    width: 95%;

    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--color-cuerpo);
    text-align: justify ;
    /*letter-spacing: 0.1rem;*/
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
    .service-mora__container,
    .form__container-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

/*GALERIA*/

.layout__gallery{
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--color-fondo);
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.container__gallery{
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 2rem;
    border: 1px solid var(--color-border-menu);
}
.gallery__image{
    width: 70rem;
    height: 45rem;
    display: flex;
    margin: 0 auto;
    transition: all 300ms linear;
}
.gallery__img{
    width: 100%;
    object-fit: cover;
    flex-shrink: 0; /* respeta el espacio de l img*/
    transition: all 300ms ease-in;
}
.container__btn-gallery{
    width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
    
}
    /*reutilizacion de recursos botones*/
    .btn-gallery__click,
    .form__btn,
    .service__more,
    .nav__register,
    .register__button,
    .login-form__btn{
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border: none;
        color: var(--color-cuerpo);
        background-color: var(--color-border-menu);
        transition: all 300ms ease-in-out;
    }
    .btn-gallery__click:hover,
    .form__btn:hover,
    .service__more:hover,
    .register__button:hover,
    .login-form__btn:hover{
        color: var(--color-border-menu);
        background-color:var(--color-cuerpo);
    }


/*FOOTER*/

.layout__footer{
    width: 100%;
    height: 50rem;
    background-image: url(/assets/img/fondo-footer2.jpg);
    background-size: cover;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}
.fondo-footer{
    width: 100%;
    height: 50rem;
    padding:2rem 1rem 0 1rem;
    background: linear-gradient(180deg, rgba(16, 16, 16, 1) 0%, rgba(16, 16, 16, 0) 100%);
}
.footer__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 2rem 0 2rem;
}
.footer__left{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0rem 2rem 2rem;
}
.footer__ltop{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.footer__logo{
    width: 120px;
    display: flex;
    align-items: center;
    padding: 1rem;

}
.footer__logo-img{
    width: 100%;
    transition: all 300ms ease-in-out;
}
.footer__logo-img:hover{
    transform: scale(1.2);
}
.footer__nav{
    padding: 1rem;
}
.footer-nav__list{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.footer-nav__item{
    margin: 0.5rem 0.5rem;
    padding-left: 0.5rem;
}

.footer-nav__title{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 300ms ease-in-out;
    color: var(--color-cuerpo);
}
.footer-nav__title:hover{
    color: var(--color-border-menu);
}
    .footer__location,
    .footer__contact{
        padding: 1rem;
    }
    .footer-location__header,
    .footer-contact__header{
        margin: 0.5rem 0.5rem;
    }
    .footer-location__title,
    .footer-contact__title{
        font-size: 2rem;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 0.2rem;
        color: var(--color-cuerpo);
    }
    .footer-contact__content,
    .footer-location__content{
        font-family:"Plus Jakarta Sans", Arial, Helvetica, sans-serif ;
        text-align: justify;
        text-align: left;
        margin: 0.5rem 0.5rem;
        padding-top: 1rem;
    }
    .footer-contact__list,
    .footer-location__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .footer-contact__item,
    .footer-location__item{
        margin: 0.5rem 0.5rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: var(--color-cuerpo);
        transition: all 300ms ease-in-out;
    }
.footer-location__item{
    list-style-type: disc;
}
.footer-contact__item:hover{
    color: var(--color-border-menu);

}
.footer-contact__link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-contact__icon{
    margin-right: 0.5rem;
}

.footer_lbotom{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
    .footer-social__title,
    .footer-right__title{
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        padding: 1rem;
        color: var(--color-cuerpo);
    }
.footer-social__list{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:1rem;
}
.social__link{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
    color: var(--color-cuerpo);
    background-color: var(--color-border-menu);
}
.social__link:hover{
    color: var(--color-border-menu);
    background-color: var(--color-cuerpo);
}
.footer-social__img{
    font-size: 1.9rem;
}


.footer__right{
    width: 30%;
    padding: 2rem 2rem 2rem 0rem;

}
.footer-right__header{
    width: 100%;

}
.footer-right__title{
    text-align: center;
}
.footer__form{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form__label{
    position: absolute;
    top: 0.4rem;
    left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-cuerpo);
    transition: all 300ms ease-in-out;
    pointer-events: none; /* que no interfiera cuando hacemos click en el la letra del label*/
}
    .form__container-name,
    .form__container-email,
    .form__container-mensaje{
        width: 70%;
        margin-top: 2.5rem;
        position: relative;
    }
.form__input{
    width: 100%;
    height: 2.9rem;
    position: relative;
    display: block;
    border: 1px solid var(--color-border-menu);
    background-color: transparent;  
    font-family:"Plus Jakarta Sans", Arial, Helvetica, sans-serif ;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    outline: none;/*para sacar los remarcados del campo*/
    color: var(--color-cuerpo);
}
.form__input:focus{
    border: 1px solid var(--color-cuerpo);
}
.form__input:focus~label,/* para que haga efecto en el input y su hermano label*/
.form__input:not(:placeholder-shown)~label{/*para que no interfiera la animacion del label con las letras que completamos el campo*/
    top: -2rem;
    left: 0;
    z-index: 1;
    font-size: 1.3rem;
    color: var(--color-border-menu);
}
.form__input::-webkit-input-placeholder{ /*ocultar el placeholder del input*/
    color: transparent;
}
.form__input::-moz-placeholder{/*ocultar el placeholder del input*/
    color: transparent;
}


.form__textarea{
    width: 100%;
    height: 7.5rem;
    font-family:"Plus Jakarta Sans", Arial, Helvetica, sans-serif ;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: var(--color-cuerpo);
    border: 1px solid var(--color-border-menu);
}
.footer__bottom{
    width: 100%;
    padding-top: 3rem;
    display: flex;
    align-items: flex-end;

}
.footer__copyright{
    width: 50%;
    padding: 1rem 1rem;
}
.copyright__text{
    display: inline-block;
    color: var(--color-cuerpo);
    font-family:"Plus Jakarta Sans", Arial, Helvetica, sans-serif ;
    font-size: 1.1rem;
}
.copyright__text > a{
    display: inline-block;
}
.footer__links{
    width: 50%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 3.5rem;
    color: var(--color-cuerpo);
}
.flinks__title{
    font-family:"Plus Jakarta Sans", Arial, Helvetica, sans-serif ;
    font-size: 1.1rem;
    transition: all 300ms ease-in-out;
}

.flinks__title:hover{
    color: var(--color-border-menu);
}
.flinks__item{
    display: inline-block;
    position: relative;
}

/*REGISTER*/
.layout__register{
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--color-fondo);
}
.container__register{
    width: 100%;
    height: 44rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


    .register__form,
    .form__login{
        width: 30rem;
        height: 100%;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.13);
        border: 1px solid var(--color-border-menu);
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        backdrop-filter: blur(10px);
        transition: all 300ms ease-in-out;
    }
    .register-form__name,
    .login-form__name{
        width: 90%;
        position: relative;
        margin-top: 1.4rem;
    }
    .register-form__email,
    .register-form__last-name,
    .register-form__password,
    .register-form__image,
    .login-form__password{
        width: 90%;
        height: auto;
        position: relative;
        margin-top: 1.5rem;
    }
.form__input-fotoR{ 
    width: 100%;
    font-size: 1rem;
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--color-cuerpo);
}
.form__label-fotoR{
    width: 100%;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: var(--color-cuerpo);
    text-transform: uppercase;
}
    .form__input-register,
    .form__input-login{
        width: 100%;
        height: 2.9rem;
        font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
        position: relative;
        display: block;
        padding-left: 0.5rem;
        background-color: transparent;
        color: var(--color-cuerpo);
        border: 1px solid var(--color-border-menu);
        outline: none;
        transition: all 300ms ease;
    }
    .form__input-register:hover,
    .form__input-login:hover{
        border: 1px solid var(--color-cuerpo);
    }
    .form__label-register,
    .form__label-login{
        width: 100%;
        font-size: 2rem;
        position: absolute;
        top: 0.1rem;
        left: 0.5rem;
        pointer-events: none;
        letter-spacing: 0.2rem;
        color: var(--color-cuerpo);
        text-transform: uppercase;
        transition: all 300ms ease-in-out;
    }
    .form__input-register::-webkit-input-placeholder,
    .form__input-login::-webkit-input-placeholder{
        color: transparent;
    }
    .form__input-register::-moz-placeholder,
    .form__input-login::-moz-placeholder{
        color: transparent;
    }
    .form__input-register:focus~label,
    .form__input-register:not(:placeholder-shown)~label,
    .form__input-login:focus~label,
    .form__input-login:not(:placeholder-shown)~label{
        top: -2rem;
        left: 0;
        z-index: 1;
        font-size: 1.5rem;
        color: var(--color-border-menu);
    }

.register___container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}
.registro-form__logins{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
}
.logins__description{
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--color-cuerpo);
}
.logins__link{
    font-size: 2rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    color: var(--color-cuerpo);
    transition: all 300ms ease-in-out;
}
.logins__link:hover{
    color: var(--color-border-menu);
}   


/*INICIAR SESION*/
.layout__login{
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--color-fondo);
}

.container__login{
    width: 100%;
    height: 29rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-form__conteiner-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

/*PRODUCTOS*/

.layout__products{
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--color-fondo);
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}  
.products__product{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
}
.product__category-container{
    width: 20%;
    background-color: var(--color-border-menu);
    padding: 2rem;
}
.product__category-title{
    width: 100%;
    font-size: 2.5rem;/*subtitulo*/
    text-align: center;
    padding: 0.5rem 0;
    color: var(--color-cuerpo);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: 1px solid var(--color-cuerpo);
    cursor: pointer;
}
.product__list{
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}
.product__item{
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-fondo);
    transition: all 300ms ease-in-out;
}
.product__item:hover{
    border-bottom: 1px solid var(--color-cuerpo);
}
.product__link{
    width: 100%;
    color: var(--color-fondo);
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 300ms ease-in-out;
}
.product__link:hover{
    color: var(--color-cuerpo);
}
.product__clicked-link {
    color: var(--color-cuerpo); /* Cambiar el color de la palabra cuando es clickeada con JS */
}
.product__stocks-container{
    width: 80%;
    padding: 2rem;
    background-color: var(--color-cuerpo);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product__stocks{
    width: 30%;
    border: 1px solid var(--color-border-products);
    padding: 1rem;
    margin-bottom: 2rem;
}
.product__image{
    width: 100%;
    overflow: hidden;
}
.product__img{
    width: 100%;
    transition: all 400ms ease-in-out;
}
.product__stocks:hover .product__img{
    transform: scale(1.1);
}
.product__description{
    width: 100%;
    padding-top: 0.5rem;
}
.product__title-stocks{
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    background-color: var(--color-cuerpo);
    color: var(--color-border-menu);
    border: 1px solid var(--color-border-menu);
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.product__etiquet-stocks{
    width: 100%;
    padding: 0.5rem;
}
.product__etiquet-link{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    color: var(--color-fondo);
    transition: all 300ms linear;
    text-align: left;
    border: 1px solid transparent;
}
.product__etiquet-link:hover{
    color: var(--color-border-menu);
    border-bottom: 1px solid var(--color-border-menu);
}
/*MARQUE*/
.layout__marquee{
    width: 100%;
    height: 10rem;
    min-height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
    background-color:var(--color-fondo-slider);
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}
.marquee__container{
    display: flex;
    overflow: hidden;
}
.marquee__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
}

.marquee__title{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;/*mantiene una sola linea de las dos palabras o mas*/
}
.marquee__link{
    color: transparent;
    -webkit-text-stroke: 0.5px var(--color-cuerpo);
    padding-top: 0.5rem; 
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 300ms linear;
}
.marquee__link:hover{
    color: var(--color-cuerpo);
}
.marquee__link-w{
    color: var(--color-border-menu);
    font-size: 4.5rem;
    padding-top: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 300ms linear;
}

/*webkit-text-stroke: 1px var(--primary-color);
color: transparent;*/


/*PROFESIONALES*/

.layout__professional{
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--color-fondo);
}

.container__professional{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.professional__cards{
    width: 30rem;
    position: relative;
}
.professional__image{
    width: 100%;
    position: relative;
}
.professional__img{
    width: 100%;
    height: auto;
}
.profesional__descriptions{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 800ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.profesional__descriptions:hover{
    opacity: 1;
}
.professional-description__title{
    width: 100%;
    font-size: 2rem;
    color: var(--color-hover);
    text-shadow: 1px 2px 2px #101010;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
}
.professional-description__dates{
    width: 100%;
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
    color: var(--color-cuerpo);
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: justify;
    font-weight: 600;
    padding: 0.5rem 1rem;
}
.professional__list-social{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.professional__item-social{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-border-menu);
    color: var(--color-cuerpo);
    transition: all 300ms ease-in-out;
}
.professional__item-social:hover{
    background-color: var(--color-border-products);
    color: var(--color-border-menu);
}
.profesional__link{
    width: 100%;
    display: flex;
    justify-content: center;
}
.professional-description__icon{
    font-size: 1.9rem;
}

/*PRODUCTOS DETALLES*/

.layout__productsDetail{
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--color-fondo);
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
} 
.productsDetail__conteiner{
    width: 100%;
    border: 1px solid var(--color-border-menu);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.productsDetail__images{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.productsDetail__img{
    width: 25rem;
}
.productsDetail__descriptions{
    width: 100%;
    padding: 1rem;
    text-align: left;
}
.productsDetail__title{
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: left;
    color: var(--color-border-menu);
    padding: 0.5rem;
}
.productsDetail__date{
    width: 100%;
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
    color: var(--color-fondo);
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: left;
    padding: 0.5rem;
}
.productsDetail__price{
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: left;
    color: var(--color-border-menu);
    padding: 0.5rem;
}
.productsDetail__btn{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    color: var(--color-cuerpo);
    background-color: var(--color-border-menu);
    transition: all 300ms ease-in-out;
}
.productsDetail__btn:hover{
    color: var(--color-border-menu);
    background-color: var(--color-cuerpo);
    border: 1px solid var(--color-border-menu);
}