@font-face{/* elegimos la fuente que queremos en la web*/
    font-family: "Plus Jakarta Sans";
    src: url('/fonts/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face{
    font-family: "Bebas Neue";
    src: url("/fonts/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: bold;
}